@charset "UTF-8";

*{
    font-family: sans-serif;
}

body{
    background-color: #a9e4efce;
}

main{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(241, 238, 238, 0.877);
    margin: auto;
    padding: 3px;
    text-align: center;
    box-shadow: 5px 5px 5px  #97e5f3ee;
}

button{
    background-color: #a9e4ef;
    cursor: pointer;
    border: none;
    outline: 0;
    transition: widht 2s;
    border-radius: 20px;
    width: 80px;
    height: 30px;
}

button:hover{
    width: 90px;
}

input{
    border: none;
    outline: 0;
    padding: 5px;
    border-radius: 20px;
    width: 200px;
}

.cadeado img{
    width: 20px;
    position: relative;
    top: -116px;
    left: -115px;
}

.pessoa img{
    width: 20px;
    position: relative;
    top: -96px;
    left: -115px;
}
